.directory
.netrwhist

neovim/.config/nvim/autoload
neovim/.config/nvim/backup
neovim/.config/nvim/plugged
neovim/.config/nvim/undo
neovim/.config/nvim/spell

bash/bin/vpm
bash/bin/vsv
bash/bin/remove-vivaldi-snapshot.sh
bash/bin/vivaldi-snapshot

tmux/.config/tmux/plugins

xfce/.config/xfce4/desktop

kakoune/.config/kak/plugins

ssh/.ssh/*
